
body{
font-family:Arial;
background:#f4f6f9;
margin:0;
}

header{
background:#2c5036;
color:white;
text-align:center;
padding:20px;
font-size:24px;
}

.container{
width:400px;
margin:auto;
margin-top:30px;
background:white;
padding:25px;
border-radius:8px;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

input,select{
width:100%;
padding:10px;
margin-top:10px;
}

button{
width:100%;
padding:10px;
margin-top:15px;
background:#27ae60;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#1e8449;
}

.scheme{
background:#d6eaf8;
padding:10px;
margin-top:10px;
}

